.role-selector {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.role-selector__switch {
  width: 4rem;
  height: 2rem;
  border-radius: 999px;
  border: none;
  background: grey;
  position: relative;
  cursor: pointer;
}

.role-selector__thumb {
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 2.6px;
  left: 3px;
  transition: transform 0.2s ease;
}

.role-selector__switch--active .role-selector__thumb {
  transform: translateX(1.9rem);
}