<app-role-selector (roleChange)="onRoleChange($event)"></app-role-selector>

@if (challenge(); as ch) {
  <div class="challenge-container">
    <div class="challenge-header">
      <h1 class="challenge-title">{{ ch.title }}</h1>
      <p class="challenge-description">{{ ch.description }}</p>
      
      <div class="challenge-meta">
        <div class="meta-tag">
          <span class="meta-label">Dificultat: </span>
          <span class="meta-value">{{ getDifficultyLabel(ch.difficulty) }}</span>
        </div>
        <div class="meta-tag">
          <span class="meta-label">Llenguatge: </span>
          <span class="meta-value">{{ getLanguageLabel(ch.language) }}</span>
        </div>
      </div>
    </div>

    <div class="challenge-content">
      @if (!isMentor()) {
        <div class="challenge__actions">
          <button type="button" (click)="setProgrammingMode()">Començar repte</button>
        </div>

        @if (programmingMode()) {
          <form [formGroup]="codeSolutionForm" (ngSubmit)="saveSolution()" class="challenge__form">
            <textarea
              id="challengeAnswer"
              formControlName="code"
              rows="10"
              class="code-textarea"
              placeholder="Escriu aquí la resposta del repte...">
            </textarea>
            <div class="challenge__actions">
              <button type="submit" class="btn btn-secondary">Guardar</button>
              <button type="button" class="btn btn-primary" (click)="openFinishModal()">Publicar</button>
            </div>
          </form>
          @if (showModal()) {
            <div class="modal-overlay">
            <div class="modal">
              <h2>Vols enviar la solució?</h2>
              <p>Escull com vols finalitzar el repte:</p>
              <div class="modal-actions">
                <button (click)="finishWithSolution()">Enviar i mostrar solució</button>
                <button (click)="finishWithoutSolution()">No enviar</button>
                <button (click)="closeModal()">Tornar enrere</button>
              </div>
            </div>
          </div>  
          }
        }
      }
    </div>
  </div>
}
