
<app-role-selector
    (roleChange)="onRoleChange($event)"
></app-role-selector>

@if (challenge(); as ch) {
  <h1>{{ ch.title }}</h1>
  <p>{{ ch.description }}</p>
  <p>Dificultat: {{ getDifficultyLabel(ch.difficulty) }}</p>
  <p>Llenguatge: {{ getLanguageLabel(ch.language) }}</p>


  @if (!isMentor()) {
    <div class="challenge__actions">
      <button type="button" (click)="setProgrammingMode()">Començar repte</button>
    </div>
    @if (programmingMode()) {
      <form [formGroup]="codeSolutionForm" (ngSubmit)="saveSolution()">
        <textarea
            id="challengeAnswer"
            formControlName="code"
            rows="10"
            placeholder="Escriu aquí la resposta del repte...">
          </textarea>
        <div class="challenge__actions">
          <button type="submit">Guardar</button>
          <button type="button" (click)="publishSolution()">Publicar</button>
        </div>
      </form>
    }
  }
}
