header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 20px;
}

.user__profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  flex-grow: 1;
  margin-right: 2.5rem;
}

.user__username {
  font-size: 1.25rem;
  font-weight: normal;
}

.avatar__image {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.button__loginout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  flex-grow: 1;
  margin-right: 2.5rem;
}
