<header>
  <h1>IT ACADEMY</h1>

  @if (user()) {
    @if (user()?.role) {
      <h4 class="user__profile">
        {{ user()?.role }}
      </h4>
    } @else {
       <h4 class="user__profile">
        CONVIDAT
      </h4>
    }

    <h4 class="user__profile">
      {{ user()?.username }}
    </h4>

    <div class="user__profile">
      <img [src]="user()?.avatarUrl" alt="avatar" class="avatar__image"/>
    </div>
  }

  <div>
    <button>Log In</button>
    <app-logout-button />
  </div>

</header>
