@if (ticket(); as t) {
    <h1>{{ t.title}}</h1>
    <p>Usuari ID: {{ t.userId }}</p>
    <p>{{ t.description }}</p>

    <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
      <select id="status" formControlName="status">
        <option value="" disabled>Selecciona l'estat</option>
          @for (status of statusOptions; track $index) {
            <option [value]="status.value">{{ status.label }}</option>
          }
      </select>

      <button type="submit">Guardar</button>
    </form>
}
