.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  padding: 0.75rem 1.25rem;
  border: 1px solid #d0d5dd;
  border-radius: 1.25rem;
  background: white;
  cursor: pointer;
  position: relative;
  z-index: 1002;

  .button_text {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .button_icon {
    width: 1.25em;
    height: 1.25em;
  }

  .button_arrow {
    display: inline-block;
    transform: rotate(90deg);
    font-size: 2em;
    font-weight: 500;
    line-height: 1;
  }
}

.dropdown__overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1001;
}

.dropdown__menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 1002;
  min-width: 200px;
  position: absolute;
  top: calc(100% + 1.5rem);
  right: 0;
  background: white;
  border-radius: 0.5rem;
  padding: 1.5rem;
}
