<div class="ticket-card">
  <span class="ticket-id">{{ ticket().id }}</span>
  <span class="ticket-title">{{ ticket().title }}</span>
  <span class="ticket-description">{{ ticket().status }}</span>
  <span class="ticket-description">{{ ticket().description }}</span>
  <span class="ticket-description">{{ ticket().createdAt | date:'dd/MM/yyyy HH:mm' }}</span>
  <span class="ticket-description">{{ ticket().updatedAt | date:'dd/MM/yyyy HH:mm' }}</span>
  <select name="assigned-to" (change)="onSelectChange($event)">
    <option value="" [selected]="selectedMentorId() === null">Sense assignar</option>
    @for(user of assignableUsers(); track user.username){
      <option [value]="user.username" [selected]="user.username === ticket().mentorAssignedId">{{user.username}}</option>
    }
  </select>
  <app-ticket-button [routerLink]="['/tickets', ticket().id]" [label]="'Accedir'"/>
</div>
