:host {
  width: 25rem;
  height: calc(100vh - 8rem);
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
  position: fixed;
  left: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 2rem 2rem;
}

nav li {
    margin-bottom: 2rem;
}
