<div class="challenges-list__header">
    <h1>Llistat de Reptes</h1>

    <app-role-selector
        (roleChange)="onRoleChange($event)"
    ></app-role-selector>
</div>

@if(isMentor()) {
    <app-create-button></app-create-button>
}

@if (challenges().length > 0) {
<ul>
    @for (challenge of challenges(); track $index) {
    <li>
        <h2>{{ challenge.title }}</h2>
        <p>{{ challenge.description }}</p>
    </li>
    }
</ul>
} @else {
<p>No hi ha reptes disponibles en aquest moment.</p>
}