<form [formGroup]="editForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="id">Id Repte</label>
    <input type="text" id="id" formControlName="id">
  </div>

  <div>
    <label for="title">Títol del Repte</label>
    <input type="text" id="title" formControlName="title">
  </div>

  <div>
    <label for="description">Descripció</label>
    <textarea
      id="description"
      formControlName="description"
      rows="5"
      placeholder="Escriu aquí els detalls del repte..."
    ></textarea>
  </div>

  <div>
    <label for="difficulty">Dificultat</label>
    <select id="difficulty" formControlName="difficulty">
      <option value="" disabled>Selecciona dificultat</option>
      @for (difficulty of difficulties; track difficulty) {
        <option [value]="difficulty">
          {{ difficulty }}
    <label for="language">Llenguatge</label>
    <select id="language" formControlName="language">
      <option value="" selected disabled>Selecciona llenguatge</option>
      @for (language of languages; track language) {
        <option [value]="language">
          {{ language }}
        </option>
      }
    </select>
  </div>

  <button type="submit">Editar Repte</button>
</form>
