<div class="dropdown">
  <button class="dropdown__trigger" data-testid="dropdown-trigger" type="button" (click)="toggleDropdown()">
    <img src="assets\icons\filter-icon.png" class="button_icon" />
    <span class="button_text">Filtres</span>
    <span class="button_arrow">›</span>
  </button>

  @if (isOpen()) {
    <div class="dropdown__overlay" data-testid="dropdown-overlay" (click)="closeDropdown()"></div>

    <div class="dropdown__menu" data-testid="dropdown-menu">
      <h3>Dificultad</h3>
      <div class="dropdown__menu__buttons">
        <button class="difficult-btn" type="button" [class.selected]="selectedDifficulty() === 'EASY'" (click)="selectDifficulty('EASY')"> <img src="assets\dif-full.png" class="button_icon" /> <img src="assets\dif-none.png" class="button_icon" /> <img src="assets\dif-none.png" class="button_icon" /> Fàcil </button>
        <button class="difficult-btn" type="button" [class.selected]="selectedDifficulty() === 'MEDIUM'" (click)="selectDifficulty('MEDIUM')"> <img src="assets\dif-full.png" class="button_icon" /> <img src="assets\dif-full.png" class="button_icon" /> <img src="assets\dif-none.png" class="button_icon" /> Mitjana </button>
        <button class="difficult-btn" type="button" [class.selected]="selectedDifficulty() === 'HARD'" (click)="selectDifficulty('HARD')"> <img src="assets\dif-full.png" class="button_icon" /> <img src="assets\dif-full.png" class="button_icon" /> <img src="assets\dif-full.png" class="button_icon" /> Difícil </button> 
      </div>
      <div class="dropdown__confirm"> <button class="confirm-btn" type="button" (click)="confirm()">Confirmar</button> </div>
    </div>
  }
</div>
